.element__like {
	border: 0;
	background-color: transparent;
	background-image: url(../../../images/like.svg);
	width: 22px;
	height: 19px;
	transition: all .5s ease-out;
}

.element__like:hover {
	opacity: 0.5;
	transform: scale(1.1);
	cursor: pointer;
}