.popup__input {
	width: 358px;
	min-height: 27px;
	padding: 0;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-weight: normal;
	font-size: 14px;
	line-height: 1.21;
}

@media screen and (max-width: 768px) {
	.popup__input {
		width: 238px;
	}
}

.popup__input:focus {
	outline-color: deepskyblue;
}