.elements {
	margin: 0 auto 0 auto;
	padding-bottom: 66px;
	max-width: 880px;
	display: grid;
	row-gap: 20px;
	column-gap: 17px;
	grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
}

@media screen and (max-width: 900px) {
	.elements {
		max-width: 590px;
		padding-bottom: 57px;
	}
}

@media screen and (max-width: 600px) {
	.elements {
		max-width: 282px;
		padding-bottom: 48px;
	}
}