/* Стандартные стили */
@import url(../vendor/normalize.css);

/* Шрифты */
@import url(../vendor/fonts/inter.css);

/* Тело сайта */
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);

/* Шапка сайта*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* Секция Profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__place/profile__place.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);

/* Секция Elements */
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/_none/element_none.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__delete/element__delete.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_black/element__like_black.css);

/* Подвал сайта */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/* Pop-up "Модальное окно" */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_open/popup_open.css);
@import url(../blocks/popup/__closed/popup__closed.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__item/popup__item.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__button/_inactive/popup_button_inactive.css);
@import url(../blocks/popup/__paragraph/popup__paragraph.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__container/_place/popup__container_place_img.css)